/*  RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f2f5;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden; 
}
/*  CONTAINER */
.container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 420px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  HEADER */
header {
  text-align: center;
  width: 100%;
}

header h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

header p {
  color: gray;
  margin-top: 0.3rem;
}

/*  HR */
hr.separateur {
  width: 100%;
  height: 1px;
  background: #ddd;
  border: none;
  margin: 1rem 0;
}

/*  INPUTS */
.recherche-box {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
}

.recherche-box input,
.inputs-bas input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
  transition: 0.3s;
  width: 100%;
}

.inputs-bas {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 1rem;
  width: 100%;
}

/* Effet focus */
input:focus, select:focus {
  border-color: black;
  outline: none;
}

/*  DATE */
.info {
  width: 100%;
  margin-top: 1.5rem;
}

.info p {
  color: gray;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.date-naissance {
  display: flex;
  gap: 0.6rem;
}

.date-naissance select {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff;
  font-size: 0.9rem;
}

/*  GENRE */
.genre {
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
  width: 100%;
}

.genre p {
  margin-bottom: 0.4rem;
}
.genr{
  margin-top: 1rem;
}
.radio {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 0;
  text-align: center;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s;
}

.genre label:hover {
  border-color: black;
}

/*  POLITIQUE */
.politique {
  width: 100%;
  margin-top: 1.5rem;
}

.politique p {
  font-size: 0.85rem;
  color: gray;
  line-height: 1.4;
}

.politique a {
  color: #1877f2;
  text-decoration: none;
}

.politique a:hover {
  text-decoration: underline;
}

/*  BOUTON */
.inscrire {
  width: 100%;
  margin-top: 1.8rem;
  padding: 12px 0;
  background-color: #42b72a;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.inscrire:hover {
  background-color: #36a420;
}


@media (max-width: 500px) {
  html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; 
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;
    margin: 0;
  }

  .container {
    width: 100%;
    max-width: 380px;
    height: auto;
    max-height: 95vh; 
    overflow-y: auto; 
    border-radius: 10px;
    box-shadow: none;
    padding: 1.2rem;
  }

  header h1 {
    font-size: 1.4rem;
  }

  header p {
    font-size: 1rem;
  }

  
  .recherche-box {
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;
  }

  .inputs-bas {
    width: 100%;
  }

  .date-naissance {
    flex-direction: column;
    gap: 0.6rem;
  }

  .genre {
    flex-direction: column;
    gap: 0.6rem;
    margin-top: rem;
  }

  .genre p {
    margin-top: 0.5rem;
    text-align: center;
  }

  .radio {
    text-align: start;
  }

  .inscrire {
    width: 100%;
    padding: 12px;
  }
}
@media screen and (max-width: 768px) {
   .container {
    width: 60%;
    min-width: 330px;
    padding: 1.5rem 1rem;
  }

  .recherche-box {
    flex-direction: row; 
    gap: 0.5rem;
    width: 100%;
  }

  .inputs-bas {
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;
  }

  .date-naissance {
    flex-direction: column;
    gap: 0.5rem;
  }

  .genre {
    flex-direction: column;
    gap: 0.6rem;
    width: 40%;
    margin-top: 1.5rem; 
  }

  .radio {
    text-align: start;
  }
}
@media screen and (max-width: 600px) {
   html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; 
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;
    margin: 0;
  }
   .container {
    width: 60%;
    min-width: 330px;
    padding: 1.5rem 1rem;
  }

  .recherche-box {
    flex-direction: row; 
    gap: 0.5rem;
    width: 100%;
  }

  .inputs-bas {
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;
  }

  .date-naissance {
    flex-direction: column;
    gap: 0.5rem;
  }

  .genre {
    flex-direction: column;
    gap: 0.6rem;
    width: 40%;
    margin-top: 1.5rem; 
  }

  .radio {
    text-align: start;
  }
}
